
.centerbar{
    display: inline-table;
    border-radius: 10px;
    grid-area: b;
    padding: 5px;
    height: 1000px;
    background: linear-gradient(to left,rgba(246, 188, 188, 0.561),rgb(205, 248, 205),rgba(105, 251, 239, 0.356));
    box-shadow: 3px 4px 4px rgb(82, 29, 29);
    margin-top: 10rem;
}
.centerbar form h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.centerbar form span {
    color: brown;
    font-size: 50px;
    margin: 10px;
    font-weight: 100;
}
label{
    font-weight: 300;
    font-size: 20px;
}
.fbox{
    /* background-color: rgb(231, 191, 130); */
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    transition-duration: 0.8s;
}
.fbox > input[type],select{
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    box-shadow: 3px 4px 4px grey;
}
.button {
    border: none;
    padding: 6px 10px;
    margin-left: 8rem;
    margin-bottom: 10rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 70%;
}
.button1 {
    background-color: rgb(170, 86, 86); 
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(170, 86, 86);
    border-radius: 10px;
}
  
.button1:hover{
    background-color: rgba(246, 188, 188, 0.561);
    color: black;
    transition: .4s;
}
.fbox #username{
    margin-left: 51px;
}
.fbox #nid{
    margin-left: 70px;
}
.fbox #spot{
    margin-left: 22px;
}
.fbox #date{
    margin-left: 20px;
    margin-bottom: 50px;
}